body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
  }
    
  .addhead::after {
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: 1px dashed rgb(153, 153, 153);
      left: 0px;
      top: 9.5px;
  }
  .payT{
      padding-left:200px;
      color: #ff5a78;
      
  }
  .containerPay{
      display:flex;
      margin-left:180px;
      gap: 20px;
  }
  .credit-container{
      width:300px;
      border:1px solid lightgrey;
      margin-top: 20px;
  }
  .credit-container1>div,.credit-container>div{
      height:40px;
      border-bottom: 1px solid lightgrey;
      padding-left:15px;
      padding-top: 15px;
      margin-right: 7px;
  }
  .bottomtext{
      margin-top:100px;
      text-align: center;
      padding-top: 10px;
      height:40px;
      background-color:whitesmoke;
  }
  .credit-container1{
      width:450px;
      margin-left: 10px;
      border:1px solid lightgrey;
      margin-top: 20px;
  }
  .credit-container2{
      width:350px;
      height:400px;
      margin-left: 10px;
  }
  .Sbox1{
      width:350px;
      height:210px;
      border:1px solid lightgrey;
      display: flex;
      border-bottom: none;
      background-color: rgb(221, 217, 217);
      
  }
  .box1{
      padding-left:30px;
      width:280px;
      height:250px;
      
  }
  .box1>div{
      margin-top: 18px;
  }
  .box2>div{
      margin-top: 20px;
  }
  
  .box1 > div:nth-child(6) {
      margin-top: 18px;
  }
  .box2{
      margin-top: 40px;
      margin-left: 50px;
      width:150px;
      height:210px;
     
  }
  .Sbox2{
      width:350px;
      height:50px;
      border:1px solid lightgrey;
      border-top:1px solid lightgrey;
      margin-bottom: 15px;
  }
  .Sbox3{
      width:350px;
      height:150px;
      border:1px solid lightgrey;
  }
  .Sbox3>p{
      padding-left:25px;
  }
  .Sbox3>h3{
      padding-left:25px;
  }
  #shipbox{
      color:red;
      text-align:right;
      padding-right:25px;
      padding-top:70px ;
      margin-bottom:70px;
  }
  #inputS{
      width:400px;
      height: 52px;
      border:1px solid white;
      padding-left: 17px;
      border-bottom: 1px solid lightgrey;
      outline: none;
  }
  .credit-container1>p{
      padding-left: 20px;
  }
  .credit-container1>h4{
      padding-left: 20px;
      padding-top: 5px;
  }
  
  #Ssize{
      width:50px;
      height:30px;
      border:none;
      outline: none;
      border-bottom: 1px solid lightgrey;
  }
  #payNow{
      width:300px;
      height:45px;
      margin-top:10px;
      background-color: #ff5a78;
      text-align:center;
      color: white;
      margin-left: 15%;
      border: none;
  }
  #payNow:hover{
    opacity: 0.8;
}
  #Scolor{
      color:grey;
  }
  
  #orderPlaced{
      display: none;
      width:450px;
      height:255px;
      margin-left: 10px;
      border:1px solid lightgrey;
      text-align: center;
      color: green;
      padding: 12px;
      box-sizing: border-box;
  }
  
  .address{
     padding-left: 20px;
  }

  .pinkpay2 {
    color: #ff5a78;
    padding-left: 20px;
    font-weight: 600;
}