*{
    margin: 0;
    padding: 0;
    font-family: Poppins,Poppins-Hindi,sans-serif;
}

/* ------------mainPageMainHead----------- */
.mainHead{
    display: flex;
    margin: 0% 5%;
    letter-spacing: 1.1px;
    font-size: 24px;
    color: #333;
    text-align: center;
    font-weight: 400;
    line-height: inherit;
}

.mainHead_img >img , .mainSubFollowers >img{
   width: 100%;
   height: 90%;
   cursor: pointer;
}
.mainHead_img >img:hover , .mainSubFollowers >img:hover{
    opacity: 0.7;
 }

.mainSubFollowers{
    margin: 2% 5%;
}

@media screen and (max-width: 832px) {
    #mainHead_imgId,.mainSubFollowers{
        display: none;
    }
}

@media screen and (max-width: 490px) {
    #mainHead_imgId2 , .mainSubFollowers{
        display: none;
    }
}

/* ---------------- Makeup ---------------- */

.categoryCont{
    position: relative;  
    margin: auto;
    margin: 2% 5%;
    /* border: 2px solid black; */
    font-family: 'Open Sans', sans-serif;
}
.sectionTitle{
    font-weight: 500;
    line-height: 51px;
    position: relative;
    color: #212121;
    text-align: center;
    margin: 40px 0;
    font-size: 35px;
}
.sectionTitle::after {
    content: '';
    height:2px;
    background-color: #fe5c74;
    position: absolute;
    bottom: 0;
    width: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.sectionTitle2{
    font-weight: 500;
    line-height: 51px;
    position: relative;
    color: white;
    text-align: center;
    margin: 40px 0;
    font-size: 35px;
}
.sectionTitle2::after {
    content: '';
    height:2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
h2.sectionTitle a {
    color: #212121;
}
h2.sectionTitle2 a {
    color: white;
}
a{
    text-decoration: none;
}
.featurebox {
    position: relative;
    width: 100%;
    color: #333;
}
 @media screen and (min-width: 768px){
 .featurebox{
    display: flex;
    align-items: center;
}
.featuretext{
    width: 34%;
    margin: 2%;
}
/* Feature Articles */
.featureArticles{
    width: 100%;
    margin:2% auto;
    display: flex;
}
.featureArticles >div{
   width: 28%;
   margin: 2%;
}
.articleTitle{
    align-items: flex-start;
}
}
/* img{
    width: 100%;
    cursor: pointer;
} */
.authorDetail{
    color: #fe5c75;
    font-size: 14px;
}
.authorDetail >a{
    color: #fe5c75;
    font-size: 16px;
}
.authorDetail >a:hover{
    text-decoration: underline;
}
.featuretitle >a{
    font-weight: 500;
    color: #333;
}
.featurepara{
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin: 0 0 10px;
}
.featureImg{
    transition: all .7s;
    width: 100%;
}
.featureImg:hover{
    opacity: 0.7;
}
.featureArticles >div{
    margin: 3%;
}
.articleTitle{
    align-items: center;
}
 
/* ---------------- Hair Care ---------------- */


.mainCare{
    background-color: #fe5c74;
    padding-top: 30px;
    padding-bottom: 30px;
}

.mainCare_Heading{
    color: white;
    font-size: 28px;
    text-align: center;
}

.mainCare_MainBox{
    display: flex;
    flex-direction: row;
    margin: 2% 4%;
    margin-left: 6%;
}

.mainCare_MainImg>img{
    border-radius: 20px;
    cursor: pointer;
}

.mainCare_MainTextBox{
    background-color: white;
    border-radius: 20px;
    margin: 2% 0%;
    padding: 40px 50px;
    transform: translateX(-15%); 
}
.mainCare_MainHead{
    letter-spacing: 1.1px;
    font-size: 24px;
    color: #333;
    font-weight: 400;
    line-height: inherit;
}
.mainCare_MainParagraph{
    margin-top: 20px;
    letter-spacing: 1.1px;
    line-height: 30px;
    font-size: 18px;
    color: #333;
}

.mainCare_MainWriter{
    color: #fe5c74;
    font-size: 14px;
    line-height: 1.42;
}

.mainCare_MainWriter:hover{
    text-decoration: underline;
    cursor: pointer;
}

.mainCare_SubBox,.mainCare_SubBox1,.mainCare_SubBox2{
    display: flex;
    flex-direction: row;
}

.mainCare_SubBox{
    margin: 2% 0%;
    margin-left: 6%;
}

.backWhite{
    background-color: white;
    border-radius: 20px;
    padding: 15px 15px;
    margin: 12% 0%;
    transform: translateX(-15%); 
}

.backImg>img{
    border-radius: 20px;
    margin:10% 0%;
}
@media screen and (max-width: 1200px) {
    .mainCare_MainBox{
        display: flex;
        flex-direction: column;
    }
    .mainCare_SubBox,.mainCare_SubBox1,.mainCare_SubBox2{
        display: flex;
        flex-direction: column;
    }
    .mainCare_MainImg>img{
        border-radius: 0px;
        width: 100%;
    }
    .backImg>img{
        border-radius: 20px;
        margin:0% 0%;
        width: 100%;
    }
    .backWhite{
        margin: 0% 2%;
        transform: translateY(-80%)
    }
    .mainCare_MainTextBox{
        transform: translateY(-18%);
        margin: 0% 2%;
    }
    .mainCare_MainBox{
        margin:0% 0%;
        margin-left: 0%;
    }
    .mainCare_SubBox{
        margin: 2% 0%;
        margin-left: 0%;
    }
    
    
}

@media screen and (max-width: 832px) {
    .mainCare_MainBox{
        display: flex;
        flex-direction: column;
    }
    .mainCare_SubBox,.mainCare_SubBox1,.mainCare_SubBox2{
        display: flex;
        flex-direction: column;
    }
    .backImg>img{
        border-radius: 20px;
        margin:0% 0%;
    }
    .backWhite{
        margin: 0% 2%;
        transform: translateY(-80%);
    }
    .mainCare_MainTextBox{
        transform: translateY(-18%);
        margin: 0% 2%;
    }
    .mainCare_MainBox{
        margin:0% 0%;
        margin-left: 0%;
    }
    .mainCare_SubBox{
        margin: 2% 0%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 490px) {
    .mainCare_MainBox{
        display: flex;
        flex-direction: column;
    }
    .mainCare_SubBox,.mainCare_SubBox1,.mainCare_SubBox2{
        display: flex;
        flex-direction: column;
    }
    .backImg>img{
        border-radius: 20px;
        margin:0% 0%;
    }
    .backWhite{
        margin: 0% 2%;
        transform: translateY(-30%);
    }
    .mainCare_MainTextBox{
        transform: translateY(-10%);
        margin: 0% 2%;
        padding: 20px 20px;
    }
    .mainCare_MainBox{
        margin:0% 0%;
        margin-left: 0%;
    }
    .mainCare_SubBox{
        margin: 2% 0%;
        margin-left: 0%;
    }
}



/* ----------Footer---------- */
#DK_home{
    height: 500px;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}
#DK_title{
    margin-top: 20px;
   width:100%;
    height: 60px;
    margin-right: 30%;
   
}
#DK_title>p{
    text-align: center;
    font-size: 35px;
    color: #333;
}
#DK_line{
    width:110px;
    height: 8px;
    border:3px solid #f67;
    margin: auto;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-bottom: 30px;
}

#DK_firstphoto>div>img{
width:110px;
height:110px;
margin-right: 20px;

}
#DK_firstphoto{
display: flex;
margin-left: 70px;
margin-bottom: 8px;

}
#DK_firstphoto:hover{
cursor: pointer;
opacity: 0.6;
}
#DK_redcolor{
color:#f67;
font-size: 18px;
font-weight: bold;
line-height: 10px;
}
#DK_grid{
display: grid;
grid-template-columns: repeat(3,30%);
grid-gap: 3%;
margin: auto;
}

#DK_homelastline{
text-align: center;
font-size: 20px;
margin-top: 40px;
}

#DK_homelastdiv{
height:50px;
width:200px;
margin: auto;
border: 1px solid #f67;
border-radius: 5px;
padding-top: 20px;
margin-top: 10px;
background-color: #f67;
}
#DK_homelastdiv>P{
color: white;
padding-left: 30px; 
background-color: #f67;
}
#DK_homelastdiv:hover{
cursor: pointer;
}

#DK_blackcolor{
    margin-top: 5px;
}




#DK_homesecond{
    width:95%;
    margin: auto;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}
#DK_sectitle{
    width:100%;
    height: 60px;
    margin-right: 30%;
   
}
#DK_sectitle>p{
    text-align: center;
    font-size: 35px;
    color: #333;
}
#DK_secline{
   width:110px;
    height: 5px;
    border:1px solid #f67;
    margin: auto;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-bottom: 20px;
}
#DK_seclastdiv{
height:360px;

/* border:1px solid black; */
}

#DK_seclastdiv{
    display: flex;
    flex-direction: row;
    font-family: poppins;
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    color: #212121de;
    font-style: italic;
} 
.smallImg{
    height: 120px;
    width: 120px;
} 


@media screen and (max-width: 832px) {
    #DK_seclastdiv{
        display: flex;
        flex-direction: column;
    } 

    #DK_homesecond{
        height:1200px
    }
  
}
@media screen and (max-width: 500px) {
    #DK_seclastdiv{
        display: flex;
        flex-direction: column;
    } 
    #DK_homesecond{
        height:1340px
    }
}
